<h1 class="center title">Your Spaces</h3>
<p class="center">Click a space to edit it:</p>
<% if @users_spaces.empty? %>
<p class="center">You currently have no spaces listed</p>
<% else %>
<section class="container" id='spaces'>
  <ul class="row">
    <% @users_spaces.each do |space| %>
      <li class="list col-lg-12">
        <a id="space" href="/edit/<%=space.id%>"><section id="space">
          <p class="name"><%=space.name%> - <span class='price'>£<%= space.price %> per night</span></p></br>
          <p class='desc'><%=space.description%></p>
          <p>Available from: <%=space.available_from%></p>
          <p>Available to: <%=space.available_to%></p>
        </section></a>
      </li>
    <% end %>
  </ul>
</section>
<% end %>
